body {
    margin: 0;
    background-color: #7B1FA2;
}

.Line {
    display: flex;
    background-color: #9C27B0;
    height: 13vh;
    width: 100%;
}

.left {
    height: 13vh;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
}

.right {
    height: 13vh;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}

.filt_desir_sett {
    height: 100%;
    display: flex;
    align-items: center; 
    flex-wrap: nowrap;
}

.name_surname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.name, .surname {
    background-color: #7B1FA2;
    font-size: 20px;
    border-radius: 5px;
    color: rgb(224, 224, 222);
    margin-bottom: 5px;
    display: inline-block;
    padding: 2px 5px;
    width: auto; 
}

.user{
    height: 85%;
    margin: 10px 0 0 5px;
}

.filter{
    height: 85%;
}

.desired{
    height: 85%;
}

.setting{
    height: 85%;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.card{
    background-color: #9E20D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 2vh 5vh 2vh;
    width: 30vw;
    margin: 1vw 0 0 0;
    border-radius: 23px;
}

.card-img{
    width: 90%;
    border-radius: 10px;
}

.card-name{
    background-color: #C4C4C4;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

.card-info{
    background-color: #C4C4C4;
    height: 30%;
    width: 90%;
}

.card-info h1{
    font-size: 10px;
}

.sell{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.seller-icon{
    width: 20%;
}

.card-icon{
    width: 25%;

}